:root{
    --section-shadow:0 5px 20px 2px rgb(77, 80, 85,0.5);
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Merriweather', serif;
}
h1,h2,h3,h4{
    font-size: inherit;
}
body{
    background-image: url(./images/background.jpg);
    background-position:center ;
    background-repeat: no-repeat;
}
/* -----//Resets//----------- */
input[type=text]{
    background: none;
    outline: none;
    border: none;
    padding: 0;
}
button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
/* //////////////---------------////////////////////// */

.main-wrapper{
    width: 90%;
    margin:1rem auto;
    max-width: 950px;
    background-color: 	rgba(163, 163, 163,0.5);
    /* border: 1px solid green; */
    border-radius: 5px;
    box-shadow: 0 5px 20px 2px rgba(71, 85, 105,0.5);
    color: #4b5563;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 20px 2px rgba(71, 85, 105,0.5);
    
}
.logo-wrapper{
    display: flex;
    gap:1rem;
    font-size: 1.3rem;
    align-items: center;
    font-style: italic;
    font-weight: 300;
   
}
.logo-wrapper > img{
    width: 50px;
}
.search-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search-form{
   display: flex;
   gap: 1rem;
}
.search-form >input[type=text]{
    width: 60%;
    flex:1;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid #4d5055;
   
}
.search-form >input[type=text]:focus{
    border-color: #1b1e22;  
}
.btn{
    padding: 0.4rem 1rem;
    border: 1px solid grey;
    border-radius: 50px;
    background-color:#27272a ;
    color:#f1f5f9 ;
    cursor: pointer;
    transition: all 0.1s;
}
.btn:hover{
    background:none;
}
.btn:active{
    transform: scale(0.95);
}

.weather-section{
    padding-inline: 1rem;
    
}
.weather-detail-section{
    display: flex;
    gap: 1.2rem;
    
}
.weather-card{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.2rem;
    width: 50%;
    background-color: rgba(55, 65, 81,0.4);
    color: #f1f5f9;
    box-shadow: var(--section-shadow);
    border-radius: 5px;
}
.location-wrapper{
    padding-block: 1rem;
    padding-right: 1rem;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    box-shadow: var(--section-shadow);
}
.location-name{
    font-size:2rem ;
    font-weight: 700;
    margin-bottom: 0.5rem;
   
}
.weather-details{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 1rem;
    padding-bottom: 1.2rem;
    box-shadow: var(--section-shadow);
}
.weather-icon-wrapper{
    width: 50%;
}
.weather-icon-wrapper > img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.weather-description{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.weather-info-wrapper > .temperature{
    font-size: 10vh;
    margin-bottom: 1rem;
}
.weather-info-wrapper > .temperature-feels{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 200;
}
.weather-detailed-grid{
    width: 50%;
    box-shadow: var(--section-shadow);
    border-radius: 5px;
}